<!DOCTYPE html><!--To show All accounts  of the user -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=All Accounts%></title>
</head>
<body>
    <%- include('../partials/nav') %> */ It will help us so not every time we to add it 
     <a href="/Account/new">Add a new Transcation </a>
      <ul>
        <%Account.forEach((Account)=>{%
            <li>
                
            </li>
        })
      </ul>
   




    </form>
    <a href="/Account/new.ejs">Add a Account </a>

</body>
</html>