<!DOCTYPE html><!--This page for creating  account form  for the user -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=Add new Account%></title>
</head>
<body>
    <%- include('../partials/nav') %> */ It will help us so not every time we to add it 
    <h1><%=Add a new Account%></h1>
    <form action="/Account<%=Account_.id%>?_method=PUT" method="post"></form>
</body>
</html>