<nav>
    <link rel="stylesheet" href="/css/style.css">
    <% if (user) { %>
    <a href="/accounts">View all Accounts</a>
     <a href="/transactions">View all Transactions</a>
    <a href="/auth/sign-out">Sign Out</a>
    <%} else { %>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/sign-in">Sign In</a>
    <% } %>
</nav>