<nav>
    <% if (user) { %>
    <a href="/views/Account">View all Accounts</a>
     <a href="/views/Transaction">View all Transactions</a>
    <a href="/auth/sign-out">Sign Out</a>
    <%} else { %>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/sign-in">Sign In</a>
    <% } %>
</nav>