<!DOCTYPE html><!--This page to create the transcation form of the user -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new Transcation</title>
</head>
<body>
    <%- include('../partials/nav') %> */ It will help us so not every time we to add it 
    <h1><%=Add a new Transcation%></h1>
</body>
</html>