<!DOCTYPE html>  <!--This page to show all the transcations of the users -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Transaction</title>
</head>
<body>
    <%- include('../partials/nav') %> */ It will help us so not every time we to add it 
    <h1><%=All Transaction%></h1>
     <a href="/Transaction/new">Add a new Transaction </a>
      <ul>
        <%=Transaction.forEach((Transaction)=>{%
            <li>
                
            </li>
        })
      </ul>
</body>
</html>